<html>
<head>
    <title>HLM GAME</title>
</head>
<body style="background-color:LightGreen;">

<h1>Gra Hufca Marzec 2019</h1>
<p>Wpiszcie poniżej prawidłowe hasło aby przejść dalej.</p><br>

<form action="{% url 'grahufca:vote' %}" method="post">
    {% csrf_token %}
    <label for="answer_field">Odpowiedź:</label>
    <input id="answer_field" type="text" name="answer">
    <input type="submit" value="OK">
</form>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

</body>
</html>